openapi: 3.1.0
info:
  title: PLoT-lite API
  version: "1.0.0"
  description: >
    Deterministic natural-language-to-causal-draft and critique service for the Scenario Sandbox PoC.
    Same inputs + seed => byte-identical outputs. No logging of parse_text (caller-side redaction recommended).
servers:
  - url: https://api.warp.olumi/plot-lite
paths:
  /health:
    get:
      summary: Liveness and basic determinism metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /version:
    get:
      summary: Returns API and model build versions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /draft-flows:
    post:
      summary: Generate deterministic draft flows and critiques from natural-language description
      operationId: draftFlows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftFlowsRequest'
      responses:
        '200':
          description: Deterministic draft flows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftFlowsResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '422':
          $ref: '#/components/responses/Blocked'
        '503':
          $ref: '#/components/responses/Retryable'
  /critique:
    post:
      summary: Critique an edited flow deterministically
      operationId: critique
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CritiqueRequest'
      responses:
        '200':
          description: Critique list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CritiqueResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '503':
          $ref: '#/components/responses/Retryable'
  /improve:
    post:
      summary: Apply deterministic micro-fixes (optional endpoint; feature-flagged)
      operationId: improve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImproveRequest'
      responses:
        '200':
          description: Patched flow and list of applied fixes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImproveResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '503':
          $ref: '#/components/responses/Retryable'
  /v1/validate-patch:
    post:
      summary: Validate and apply patch operations to a causal graph
      operationId: validatePatch
      description: >
        Applies sequential patch operations to a graph, validates the result through a 5-phase
        pipeline (apply → structural check → semantic repairs → schema validation → hash),
        and returns the patched graph with a deterministic hash. Feature-flagged behind
        ENABLE_VALIDATE_PATCH. The `path` field in operations is an entity ID (node ID or
        from→to edge key), NOT a JSON pointer.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePatchRequest'
      responses:
        '200':
          description: Patch applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchResponse'
        '400':
          description: Invalid request (missing body, graph, or operations)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
        '422':
          description: Patch rejected (structural violation, invalid field, or schema failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
        '501':
          description: Feature disabled (ENABLE_VALIDATE_PATCH not set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
              examples:
                feature_disabled:
                  value:
                    status: rejected
                    code: FEATURE_DISABLED
                    message: validate-patch is not enabled
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token set via AUTH_TOKEN env var
  responses:
    BadInput:
      description: BAD_INPUT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_baseline:
              value: { type: "BAD_INPUT", hint: "Missing baseline: revenue", details: { field: "context.baselines.revenue" } }
    Timeout:
      description: TIMEOUT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            timeout:
              value: { type: "TIMEOUT", hint: "Upstream model exceeded time budget", details: { p95_limit_ms: 600 } }
    Blocked:
      description: BLOCKED_CONTENT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            blocked:
              value: { type: "BLOCKED_CONTENT", hint: "Sensitive or disallowed content", details: { category: "pii" } }
    Retryable:
      description: RETRYABLE
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            overload:
              value: { type: "RETRYABLE", hint: "Temporary overload. Retry with same seed.", details: { backoff_ms: 200 } }
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          enum: [BAD_INPUT, TIMEOUT, BLOCKED_CONTENT, RETRYABLE]
        hint:
          type: string
        details:
          type: object
      required: [type, hint]
    Health:
      type: object
      properties:
        status: { type: string, enum: [ok] }
        determinism_rate_last_24h: { type: number }
        p95_ms: { type: integer }
    Version:
      type: object
      properties:
        api: { type: string }
        build: { type: string }
        model: { type: string }
    DraftFlowsRequest:
      type: object
      properties:
        seed: { type: integer, minimum: 0 }
        parse_text: { type: string, description: "Redacted at caller; service must not log." }
        context:
          $ref: '#/components/schemas/Context'
        board_feedback:
          $ref: '#/components/schemas/BoardFeedback'
      required: [seed, parse_text, context]
    Context:
      type: object
      properties:
        board_id: { type: string }
        goal: { type: string }
        safety_limits:
          type: array
          items: { type: string }
        baselines:
          type: object
          additionalProperties: { type: number }
        threshold_catalogue:
          type: array
          items: { type: string }
        locale:
          type: string
          description: BCP 47 language tag (e.g., en-GB)
      required: [board_id]
    BoardFeedback:
      type: object
      properties:
        rejected_edge_patterns:
          type: array
          items: { type: string }
        accepted_critiques:
          type: array
          items: { type: string }
    DraftFlowsResponse:
      type: object
      properties:
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/Draft'
      required: [drafts]
    Draft:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        why: { type: string }
        suggestion_confidence: { type: number, minimum: 0, maximum: 1 }
        parse_json:
          $ref: '#/components/schemas/Flow'
        parse_json_hash:
          type: string
          description: "sha256 over canonicalised parse_json"
        critique:
          type: array
          items:
            $ref: '#/components/schemas/CritiqueItem'
        threshold_crossings:
          type: array
          items:
            $ref: '#/components/schemas/ThresholdCrossing'
        fork_suggested: { type: boolean }
        fork_labels:
          type: array
          items: { type: string }
      required: [id, title, parse_json, parse_json_hash]
    Flow:
      type: object
      properties:
        nodes:
          type: array
          items: { $ref: '#/components/schemas/Node' }
        edges:
          type: array
          items: { $ref: '#/components/schemas/Edge' }
        comments:
          type: array
          items: { $ref: '#/components/schemas/Comment' }
        provenance:
          $ref: '#/components/schemas/Provenance'
        metadata:
          type: object
          properties:
            segment: { type: string }
            time_horizon: { type: string }
            thresholds:
              type: array
              items: { type: number }
      required: [nodes, edges]
    Node:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, enum: [goal, decision, option, outcome, risk, action], description: 'Node classification aligned with CEE/ISL. See Platform Architecture Contract v1.3' }
        type: { type: string, deprecated: true, description: 'Deprecated: use kind instead. Mapped to kind for backward compatibility.' }
        label: { type: string }
        baseline: { type: number }
      required: [id, label]
    Edge:
      type: object
      properties:
        id: { type: string }
        from: { type: string }
        to: { type: string }
        weight: { type: number }
        belief: { type: number, minimum: 0, maximum: 1, description: 'EdgeV1: Legacy unified belief. Use belief_exists + belief_strength for EdgeV2.' }
        belief_exists: { type: number, minimum: 0, maximum: 1, description: 'EdgeV2: Probability edge exists (structural uncertainty)' }
        belief_strength: { type: number, minimum: 0, maximum: 1, description: 'EdgeV2: Confidence in weight precision' }
        rationale: { type: string }
        evidence:
          type: array
          items: { type: string }
        edge_type:
          type: string
          enum: [structural, functional, probabilistic]
          description: 'Edge semantic type for inference routing'
        function_type:
          type: string
          enum: [linear, diminishing_returns, threshold, s_curve, noisy_or, noisy_and_not, logistic, mixed]
          description: 'Edge function type for value transformation. mixed combines generative (noisy_or) and preventative (noisy_and_not) causes.'
        function_params:
          type: object
          description: 'Parameters for edge function'
          properties:
            k: { type: number, description: 'Steepness for diminishing_returns/s_curve/logistic' }
            threshold: { type: number, description: 'Activation threshold' }
            midpoint: { type: number, description: 'S-curve midpoint' }
            slope: { type: number, description: 'Threshold slope' }
            leak: { type: number, minimum: 0, maximum: 1, description: 'Background probability for noisy_or (default: 0.01)' }
            base_rate: { type: number, minimum: 0, maximum: 1, description: 'Base probability for noisy_and_not (required)' }
      required: [id, from, to, weight, belief]
    Comment:
      type: object
      properties:
        id: { type: string }
        node_or_edge_id: { type: string }
        author: { type: string }
        body: { type: string }
        tags:
          type: array
          items: { type: string }
    Provenance:
      type: object
      properties:
        parse_text:
          type: string
          description: "Optional; stored per-org setting. Redacted in exports by default."
        suggestion_confidence:
          type: object
          additionalProperties: { type: number }
        accepted_edges:
          type: array
          items: { type: string }
        rejected_edges:
          type: array
          items: { type: string }
        critique:
          type: array
          items: { $ref: '#/components/schemas/CritiqueItem' }
        mind_change_notes:
          type: array
          items: { type: string }
      additionalProperties: false
    CritiqueItem:
      type: object
      properties:
        note: { type: string }
        severity: { type: string, enum: [BLOCKER, IMPROVEMENT, OBSERVATION] }
        fix_available: { type: boolean }
      required: [note, severity]
    ThresholdCrossing:
      type: object
      properties:
        node_id: { type: string }
        threshold: { type: number }
        crossed_from: { type: number }
        crossed_to: { type: number }
      required: [node_id, threshold, crossed_from, crossed_to]
    CritiqueRequest:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
      required: [parse_json]
    CritiqueResponse:
      type: object
      properties:
        critique:
          type: array
          items: { $ref: '#/components/schemas/CritiqueItem' }
      required: [critique]
    ImproveRequest:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
        fixes:
          type: array
          items:
            type: string
            description: "Fix identifiers"
      required: [parse_json]
    ImproveResponse:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
        fix_applied:
          type: array
          items: { type: string }
      required: [parse_json]
    # =========================================================================
    # validate-patch schemas
    # =========================================================================
    ValidatePatchRequest:
      type: object
      properties:
        graph:
          type: object
          required: [nodes, edges]
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/PatchOperation'
        request_id:
          type: string
          description: Optional client-provided request correlation ID
      required: [graph, operations]
    PatchOperation:
      type: object
      description: >
        A single graph mutation. The `path` field is an entity ID — node ID for
        node operations, or `from->to` edge key for edge operations. It is NOT
        a JSON pointer.
      properties:
        op:
          type: string
          enum: [add_node, add_edge, remove_node, remove_edge, update_node, update_edge]
        path:
          type: string
          description: Entity ID (node ID or from->to edge key)
        value:
          type: object
          description: Node or edge value (required for add/update operations)
        previous:
          type: object
          description: Previous value for undo support (reserved, not yet implemented)
      required: [op, path]
    EngineNodeV3:
      type: object
      properties:
        id:
          type: string
          pattern: '^[a-z0-9_:-]+$'
        kind:
          type: string
          enum: [goal, factor, outcome, decision, risk, action, option]
        label:
          type: string
        observed_state:
          type: object
          properties:
            value: { type: number }
            std: { type: number }
        state_space:
          type: object
          properties:
            range:
              type: object
              properties:
                min: { type: number }
                max: { type: number }
        category:
          type: string
          enum: [controllable, observable, external]
      required: [id, kind, label]
    EngineEdgeV3:
      type: object
      properties:
        from:
          type: string
          description: Source node ID
        to:
          type: string
          description: Target node ID
        exists_probability:
          type: number
          minimum: 0
          maximum: 1
        strength:
          type: object
          required: [mean, std]
          properties:
            mean:
              type: number
              description: Signed effect size
            std:
              type: number
              exclusiveMinimum: 0
              description: Standard deviation (must be > 0)
        label:
          type: string
        edge_type:
          type: string
          enum: [directed, bidirected]
        effect_direction:
          type: string
          enum: [positive, negative]
      required: [from, to, exists_probability, strength]
    ValidatePatchResponse:
      type: object
      properties:
        status:
          type: string
          enum: [applied]
        graph:
          type: object
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        graph_hash:
          type: string
          pattern: '^[0-9a-f]{16}$'
          description: Deterministic SHA-256 hash (16-char hex) of the canonical graph
        repairs_applied:
          type: array
          items:
            $ref: '#/components/schemas/RepairEntry'
        warnings:
          type: array
          description: >
            Warning codes: DEFAULT_EXISTS_PROBABILITY, NORMALISE_STRENGTH_RANGE,
            CLAMP_STD_MINIMUM, INFER_EFFECT_DIRECTION, APPLY_SIGN_FROM_DIRECTION,
            CASCADE_REMOVE_EDGE, CASCADE_REMOVE_EDGE_SUMMARY
          items:
            $ref: '#/components/schemas/ValidationWarning'
      required: [status, graph, graph_hash, repairs_applied, warnings]
    ValidatePatchRejection:
      type: object
      properties:
        status:
          type: string
          enum: [rejected]
        code:
          type: string
          description: >
            Rejection codes: FEATURE_DISABLED, INVALID_REQUEST, INVALID_PATCH_FIELD,
            INVALID_PATCH_TARGET, CYCLE_DETECTED, POC_EDGE_LIMIT, POC_NODE_LIMIT,
            INVALID_NODE_KIND, VALIDATION_FAILED
        message:
          type: string
        violations:
          type: array
          items:
            $ref: '#/components/schemas/ViolationV3'
      required: [status, code, message]
    RepairEntry:
      type: object
      properties:
        code: { type: string }
        layer: { type: string, enum: [plot] }
        field_path: { type: string }
        before: {}
        after: {}
        reason: { type: string }
        severity: { type: string, enum: [info, warn] }
      required: [code, layer, field_path, reason, severity]
    ValidationWarning:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        field_path: { type: string }
      required: [code, message, field_path]
    ViolationV3:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        node_id: { type: string }
        edge_id: { type: string }
      required: [code, message]