openapi: 3.1.0
info:
  title: PLoT-lite API
  version: "1.0.0"
  description: >
    Deterministic natural-language-to-causal-draft and critique service for the Scenario Sandbox PoC.
    Same inputs + seed => byte-identical outputs. No logging of parse_text (caller-side redaction recommended).

    This OpenAPI spec is the authoritative contract documentation within the PLoT repo.
    It is hand-authored and not auto-generated from code.
    If consuming systems (e.g. CEE) maintain separate API docs, they should
    link to or import this spec to keep contracts aligned.
servers:
  - url: https://api.warp.olumi/plot-lite
paths:
  /health:
    get:
      summary: Liveness and basic determinism metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /version:
    get:
      summary: Returns API and model build versions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /draft-flows:
    post:
      summary: Generate deterministic draft flows and critiques from natural-language description
      operationId: draftFlows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftFlowsRequest'
      responses:
        '200':
          description: Deterministic draft flows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftFlowsResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '422':
          $ref: '#/components/responses/Blocked'
        '503':
          $ref: '#/components/responses/Retryable'
  /critique:
    post:
      summary: Critique an edited flow deterministically
      description: 'Requires Authorization: Bearer <token> when AUTH_ENABLED=1.'
      operationId: critique
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CritiqueRequest'
      responses:
        '200':
          description: Critique list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CritiqueResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '503':
          $ref: '#/components/responses/Retryable'
  /improve:
    post:
      summary: Apply deterministic micro-fixes (optional endpoint; feature-flagged)
      description: 'Requires Authorization: Bearer <token> when AUTH_ENABLED=1.'
      operationId: improve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImproveRequest'
      responses:
        '200':
          description: Patched flow and list of applied fixes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImproveResponse'
        '400':
          $ref: '#/components/responses/BadInput'
        '408':
          $ref: '#/components/responses/Timeout'
        '503':
          $ref: '#/components/responses/Retryable'
  /v2/run:
    post:
      summary: Run causal inference analysis with option comparison
      operationId: v2Run
      description: >
        Primary analysis endpoint. Takes a causal graph, two or more options (with interventions),
        and runs ISL inference to compare outcomes. Pre-ISL normalisation is performed by the same
        shared normaliser used by /v1/validate-patch, ensuring normalisation parity.
        Returns option comparison results, sensitivity analysis, robustness assessment,
        and diagnostic metadata.
      security:
        - bearerAuth: []
      parameters:
        - name: X-Request-Id
          in: header
          required: false
          schema:
            type: string
          description: Client correlation ID. Echoed in response as request_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RunRequest'
      responses:
        '200':
          description: Analysis completed (computed or partial)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RunResponse'
        '400':
          description: Invalid request (unknown fields, missing required fields)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode: { type: integer, enum: [400] }
                  error: { type: string, enum: ['Bad Request'] }
                  message: { type: string }
                required: [statusCode, error, message]
        '422':
          description: Validation blocked (preflight failures, graph issues)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RunError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode: { type: integer, enum: [500] }
                  error: { type: string, enum: ['Internal Server Error'] }
                  message: { type: string }
                required: [statusCode, error, message]
  /v1/validate-patch:
    post:
      summary: Validate and apply patch operations to a causal graph
      operationId: validatePatch
      description: >
        Applies sequential patch operations to a graph, validates the result through a 5-phase
        pipeline (apply → structural check → semantic repairs → schema validation → hash),
        and returns the patched graph with a deterministic hash. Feature-flagged behind
        ENABLE_VALIDATE_PATCH. The `path` field in operations is an entity ID (node ID or
        from→to edge key), NOT a JSON pointer.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatePatchRequest'
      responses:
        '200':
          description: Patch applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchResponse'
        '400':
          description: Invalid request (missing body, graph, or operations)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
        '422':
          description: Patch rejected (structural violation, invalid field, or schema failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
        '501':
          description: Feature disabled (ENABLE_VALIDATE_PATCH not set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatePatchRejection'
              examples:
                feature_disabled:
                  value:
                    status: rejected
                    code: FEATURE_DISABLED
                    message: validate-patch is not enabled
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token set via AUTH_TOKEN env var
  responses:
    BadInput:
      description: BAD_INPUT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_baseline:
              value: { type: "BAD_INPUT", hint: "Missing baseline: revenue", details: { field: "context.baselines.revenue" } }
    Timeout:
      description: TIMEOUT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            timeout:
              value: { type: "TIMEOUT", hint: "Upstream model exceeded time budget", details: { p95_limit_ms: 600 } }
    Blocked:
      description: BLOCKED_CONTENT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            blocked:
              value: { type: "BLOCKED_CONTENT", hint: "Sensitive or disallowed content", details: { category: "pii" } }
    Retryable:
      description: RETRYABLE
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            overload:
              value: { type: "RETRYABLE", hint: "Temporary overload. Retry with same seed.", details: { backoff_ms: 200 } }
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
          enum: [BAD_INPUT, TIMEOUT, BLOCKED_CONTENT, RETRYABLE]
        hint:
          type: string
        details:
          type: object
      required: [type, hint]
    Health:
      type: object
      properties:
        status: { type: string, enum: [ok] }
        determinism_rate_last_24h: { type: number }
        p95_ms: { type: integer }
    Version:
      type: object
      properties:
        api: { type: string }
        build: { type: string }
        model: { type: string }
    DraftFlowsRequest:
      type: object
      properties:
        seed: { type: integer, minimum: 0 }
        parse_text: { type: string, description: "Redacted at caller; service must not log." }
        context:
          $ref: '#/components/schemas/Context'
        board_feedback:
          $ref: '#/components/schemas/BoardFeedback'
      required: [seed, parse_text, context]
    Context:
      type: object
      properties:
        board_id: { type: string }
        goal: { type: string }
        safety_limits:
          type: array
          items: { type: string }
        baselines:
          type: object
          additionalProperties: { type: number }
        threshold_catalogue:
          type: array
          items: { type: string }
        locale:
          type: string
          description: BCP 47 language tag (e.g., en-GB)
      required: [board_id]
    BoardFeedback:
      type: object
      properties:
        rejected_edge_patterns:
          type: array
          items: { type: string }
        accepted_critiques:
          type: array
          items: { type: string }
    DraftFlowsResponse:
      type: object
      properties:
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/Draft'
      required: [drafts]
    Draft:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        why: { type: string }
        suggestion_confidence: { type: number, minimum: 0, maximum: 1 }
        parse_json:
          $ref: '#/components/schemas/Flow'
        parse_json_hash:
          type: string
          description: "sha256 over canonicalised parse_json"
        critique:
          type: array
          items:
            $ref: '#/components/schemas/CritiqueItem'
        threshold_crossings:
          type: array
          items:
            $ref: '#/components/schemas/ThresholdCrossing'
        fork_suggested: { type: boolean }
        fork_labels:
          type: array
          items: { type: string }
      required: [id, title, parse_json, parse_json_hash]
    Flow:
      type: object
      properties:
        nodes:
          type: array
          items: { $ref: '#/components/schemas/Node' }
        edges:
          type: array
          items: { $ref: '#/components/schemas/Edge' }
        comments:
          type: array
          items: { $ref: '#/components/schemas/Comment' }
        provenance:
          $ref: '#/components/schemas/Provenance'
        metadata:
          type: object
          properties:
            segment: { type: string }
            time_horizon: { type: string }
            thresholds:
              type: array
              items: { type: number }
      required: [nodes, edges]
    Node:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, enum: [goal, decision, option, outcome, risk, action], description: 'Node classification aligned with CEE/ISL. See Platform Architecture Contract v1.3' }
        type: { type: string, deprecated: true, description: 'Deprecated: use kind instead. Mapped to kind for backward compatibility.' }
        label: { type: string }
        baseline: { type: number }
      required: [id, label]
    Edge:
      type: object
      properties:
        id: { type: string }
        from: { type: string }
        to: { type: string }
        weight: { type: number }
        belief: { type: number, minimum: 0, maximum: 1, description: 'EdgeV1: Legacy unified belief. Use belief_exists + belief_strength for EdgeV2.' }
        belief_exists: { type: number, minimum: 0, maximum: 1, description: 'EdgeV2: Probability edge exists (structural uncertainty)' }
        belief_strength: { type: number, minimum: 0, maximum: 1, description: 'EdgeV2: Confidence in weight precision' }
        rationale: { type: string }
        evidence:
          type: array
          items: { type: string }
        edge_type:
          type: string
          enum: [structural, functional, probabilistic]
          description: 'Edge semantic type for inference routing'
        function_type:
          type: string
          enum: [linear, diminishing_returns, threshold, s_curve, noisy_or, noisy_and_not, logistic, mixed]
          description: 'Edge function type for value transformation. mixed combines generative (noisy_or) and preventative (noisy_and_not) causes.'
        function_params:
          type: object
          description: 'Parameters for edge function'
          properties:
            k: { type: number, description: 'Steepness for diminishing_returns/s_curve/logistic' }
            threshold: { type: number, description: 'Activation threshold' }
            midpoint: { type: number, description: 'S-curve midpoint' }
            slope: { type: number, description: 'Threshold slope' }
            leak: { type: number, minimum: 0, maximum: 1, description: 'Background probability for noisy_or (default: 0.01)' }
            base_rate: { type: number, minimum: 0, maximum: 1, description: 'Base probability for noisy_and_not (required)' }
      required: [id, from, to, weight, belief]
    Comment:
      type: object
      properties:
        id: { type: string }
        node_or_edge_id: { type: string }
        author: { type: string }
        body: { type: string }
        tags:
          type: array
          items: { type: string }
    Provenance:
      type: object
      properties:
        parse_text:
          type: string
          description: "Optional; stored per-org setting. Redacted in exports by default."
        suggestion_confidence:
          type: object
          additionalProperties: { type: number }
        accepted_edges:
          type: array
          items: { type: string }
        rejected_edges:
          type: array
          items: { type: string }
        critique:
          type: array
          items: { $ref: '#/components/schemas/CritiqueItem' }
        mind_change_notes:
          type: array
          items: { type: string }
      additionalProperties: false
    CritiqueItem:
      type: object
      properties:
        note: { type: string }
        severity: { type: string, enum: [BLOCKER, IMPROVEMENT, OBSERVATION] }
        fix_available: { type: boolean }
      required: [note, severity]
    ThresholdCrossing:
      type: object
      properties:
        node_id: { type: string }
        threshold: { type: number }
        crossed_from: { type: number }
        crossed_to: { type: number }
      required: [node_id, threshold, crossed_from, crossed_to]
    CritiqueRequest:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
      required: [parse_json]
    CritiqueResponse:
      type: object
      properties:
        critique:
          type: array
          items: { $ref: '#/components/schemas/CritiqueItem' }
      required: [critique]
    ImproveRequest:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
        fixes:
          type: array
          items:
            type: string
            description: "Fix identifiers"
      required: [parse_json]
    ImproveResponse:
      type: object
      properties:
        parse_json:
          $ref: '#/components/schemas/Flow'
        fix_applied:
          type: array
          items: { type: string }
      required: [parse_json]
    # =========================================================================
    # validate-patch schemas
    # =========================================================================
    ValidatePatchRequest:
      type: object
      properties:
        graph:
          type: object
          required: [nodes, edges]
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/PatchOperation'
        request_id:
          type: string
          description: Optional client-provided request correlation ID
      required: [graph, operations]
    PatchOperation:
      type: object
      description: >
        A single graph mutation. The `path` field is an entity ID — node ID for
        node operations, or `from->to` edge key for edge operations. It is NOT
        a JSON pointer.
      properties:
        op:
          type: string
          enum: [add_node, add_edge, remove_node, remove_edge, update_node, update_edge]
        path:
          type: string
          description: Entity ID (node ID or from->to edge key)
        value:
          type: object
          description: Node or edge value (required for add/update operations)
        previous:
          type: object
          description: Previous value for undo support (reserved, not yet implemented)
      required: [op, path]
    EngineNodeV3:
      type: object
      properties:
        id:
          type: string
          pattern: '^[a-z0-9_:-]+$'
        kind:
          type: string
          enum: [goal, factor, outcome, decision, risk, action, option]
        label:
          type: string
        observed_state:
          type: object
          properties:
            value: { type: number }
            std: { type: number }
        state_space:
          type: object
          properties:
            range:
              type: object
              properties:
                min: { type: number }
                max: { type: number }
        category:
          type: string
          enum: [controllable, observable, external]
      required: [id, kind, label]
    EngineEdgeV3:
      type: object
      properties:
        from:
          type: string
          description: Source node ID
        to:
          type: string
          description: Target node ID
        exists_probability:
          type: number
          minimum: 0
          maximum: 1
        strength:
          type: object
          required: [mean, std]
          properties:
            mean:
              type: number
              description: Signed effect size
            std:
              type: number
              exclusiveMinimum: 0
              description: Standard deviation (must be > 0)
        label:
          type: string
        edge_type:
          type: string
          enum: [directed, bidirected]
        effect_direction:
          type: string
          enum: [positive, negative]
      required: [from, to, exists_probability, strength]
    ValidatePatchResponse:
      type: object
      properties:
        status:
          type: string
          enum: [applied]
        graph:
          type: object
          description: Input graph after patch operations (pre-normalisation)
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        normalised_graph:
          type: object
          description: >
            Normalised graph — the canonical form the UI should adopt after
            patch acceptance. Produced by the same shared normaliser used by
            /v2/run, ensuring normalisation parity.
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        graph_hash:
          type: string
          pattern: '^[0-9a-f]{16}$'
          description: Deterministic SHA-256 hash (16-char hex) of the normalised graph
        repairs_applied:
          type: array
          items:
            $ref: '#/components/schemas/RepairEntry'
        warnings:
          type: array
          description: >
            Warning codes from shared normaliser (canonical REPAIR_CODES):
            DEFAULT_EXISTS_PROBABILITY, CLAMP_EXISTS_PROBABILITY,
            CLAMP_STRENGTH_MEAN, CLAMP_STRENGTH_STD, FLOOR_STRENGTH_STD,
            INFER_EFFECT_DIRECTION, APPLY_SIGN_FROM_DIRECTION,
            CLEAN_LABEL_ANNOTATION, CASCADE_REMOVE_EDGE,
            CASCADE_REMOVE_EDGE_SUMMARY
          items:
            $ref: '#/components/schemas/ValidationWarning'
      required: [status, graph, normalised_graph, graph_hash, repairs_applied, warnings]
    ValidatePatchRejection:
      type: object
      properties:
        status:
          type: string
          enum: [rejected]
        code:
          type: string
          description: >
            Rejection codes: FEATURE_DISABLED, INVALID_REQUEST, INVALID_PATCH_FIELD,
            INVALID_PATCH_TARGET, CYCLE_DETECTED, POC_EDGE_LIMIT, POC_NODE_LIMIT,
            INVALID_NODE_KIND, VALIDATION_FAILED
        message:
          type: string
        violations:
          type: array
          items:
            $ref: '#/components/schemas/ViolationV3'
      required: [status, code, message]
    RepairEntry:
      type: object
      description: >
        Canonical repair entry from the shared normaliser. Uses codes from
        REPAIR_CODES enum in normalisation/repair-codes.ts (SSOT).
      properties:
        code:
          type: string
          description: >
            Canonical repair code. See repair-codes.ts for full catalogue:
            DEFAULT_EXISTS_PROBABILITY, CLAMP_EXISTS_PROBABILITY,
            DEFAULT_STRENGTH_MEAN, CLAMP_STRENGTH_MEAN,
            DEFAULT_STRENGTH_STD, CLAMP_STRENGTH_STD, FLOOR_STRENGTH_STD,
            INFER_EFFECT_DIRECTION, APPLY_SIGN_FROM_DIRECTION,
            INVALID_CATEGORY, INVALID_PRIOR, UNKNOWN_NODE_KIND,
            CLEAN_LABEL_ANNOTATION, CASCADE_REMOVE_EDGE
        layer: { type: string, enum: [plot] }
        field_path:
          type: string
          description: Entity-prefixed dotted path (e.g., 'a->goal.exists_probability')
        before: {}
        after: {}
        reason: { type: string }
        severity: { type: string, enum: [info, warn] }
        action:
          type: string
          enum: [clamped, defaulted, inferred, floored, derived, normalised, removed]
          description: Type of repair action applied
      required: [code, layer, field_path, reason, severity, action]
    ValidationWarning:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        field_path: { type: string }
      required: [code, message, field_path]
    ViolationV3:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        node_id: { type: string }
        edge_id: { type: string }
      required: [code, message]
    # =========================================================================
    # /v2/run schemas
    # =========================================================================
    V2RunRequest:
      type: object
      properties:
        graph:
          type: object
          description: Causal graph to analyse
          required: [nodes, edges]
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/EngineNodeV3'
            edges:
              type: array
              items:
                $ref: '#/components/schemas/EngineEdgeV3'
        options:
          type: array
          description: Two or more options with interventions to compare
          minItems: 2
          items:
            $ref: '#/components/schemas/OptionV3'
        goal_node_id:
          type: string
          description: ID of the goal node for outcome comparison
        seed:
          oneOf:
            - type: string
            - type: number
          description: Determinism seed. Accepts string or number; normalised to string internally.
        n_samples:
          type: integer
          minimum: 100
          maximum: 10000
          default: 1000
          description: Number of Monte Carlo samples for inference
        goal_threshold:
          type: number
          nullable: true
          description: Success threshold for the goal node. Enables probability_of_goal in response.
        goal_constraints:
          type: array
          description: Multi-constraint analysis targets
          items:
            $ref: '#/components/schemas/GoalConstraint'
        include_thresholds:
          type: boolean
          default: false
          description: When true, run threshold (tipping-point) analysis
        brief:
          type: string
          maxLength: 10000
          description: Decision description for CEE enrichment
        request_id:
          type: string
          description: Client-provided request correlation ID
        idempotency_key:
          type: string
          description: Idempotency key for duplicate request detection
        detail_level:
          type: string
          enum: [quick, standard, deep]
          default: standard
      required: [graph, options, goal_node_id]
    OptionV3:
      type: object
      properties:
        id:
          type: string
          description: Unique option identifier
        label:
          type: string
          description: Human-readable option label
        interventions:
          type: object
          description: Map of node_id → intervention value. Must be non-empty.
          additionalProperties:
            $ref: '#/components/schemas/InterventionValueV3'
      required: [id, label, interventions]
    InterventionValueV3:
      type: object
      properties:
        value:
          type: number
          description: Intervention value (scaled 0-1)
        source:
          type: string
          enum: [brief_extraction, user_specified, cee_hypothesis]
      required: [value, source]
    GoalConstraint:
      type: object
      properties:
        constraint_id:
          type: string
          description: Unique per request
        node_id:
          type: string
          description: Target node (must exist in graph)
        operator:
          type: string
          enum: ['>=', '<=']
          description: Comparison operator (ASCII only)
        value:
          type: number
          description: Threshold value in user units
        label:
          type: string
          description: UI display label
        weight:
          type: number
          description: Reserved for future weighted constraints
      required: [constraint_id, node_id, operator, value]
    V2RunResponse:
      type: object
      description: >
        Successful analysis response. The analysis_status field indicates whether
        inference completed fully ('computed') or partially ('partial').
      properties:
        request_schema_version:
          type: string
          enum: ['v3']
        endpoint_version:
          type: string
          enum: ['v2/run']
        analysis_status:
          type: string
          enum: [computed, partial, failed, blocked]
          description: Top-level analysis outcome
        status_reason:
          type: string
          description: Human-readable reason when analysis_status is not 'computed'
        request_id:
          type: string
          description: Echoed from X-Request-Id header or request body
        critiques:
          type: array
          description: Validation critiques (blockers and non-blockers). Always present.
          items:
            $ref: '#/components/schemas/CritiqueV3'
        option_comparison:
          type: array
          description: Per-option outcome comparison results
          items:
            $ref: '#/components/schemas/OptionComparisonResultV3'
        edge_sensitivity:
          type: array
          description: Edge sensitivity analysis. Always present (may be empty).
          items:
            $ref: '#/components/schemas/EdgeSensitivityV3'
        edge_e_values:
          type: array
          description: >
            Edge E-values measuring evidence strength for each edge's causal direction,
            enriched with labels. Always present — [] when ISL omits the field or
            returns no entries (computed-empty). Consumers should treat presence as
            guaranteed and use array length to detect emptiness.
          items:
            $ref: '#/components/schemas/EnrichedEdgeEValue'
        conditional_winners:
          type: array
          description: >
            Conditional winner analysis per factor, enriched with labels. Always
            present — [] when ISL omits the field or returns no entries
            (computed-empty). Consumers should treat presence as guaranteed and
            use array length to detect emptiness.
          items:
            $ref: '#/components/schemas/ConditionalWinner'
        flip_thresholds:
          type: array
          description: >
            Tipping-point analysis per factor — the intervention value at which
            the recommended option would flip. Values denormalised into user
            units. Always present — [] when not computed or no flips found
            (computed-empty).
          items:
            $ref: '#/components/schemas/DenormalisedFlipThreshold'
        conditional_probabilities:
          type: array
          description: >
            Pairwise conditional probabilities between goal constraints:
            P(target | given is satisfied). Only surfaced when goal_constraints
            are supplied and constraints_status is 'computed'; in that case
            always present — [] when ISL returns no pairs (computed-empty).
          items:
            $ref: '#/components/schemas/ConditionalProbability'
        factor_sensitivity:
          type: array
          description: Factor sensitivity results (when available). Entries may include range_derivation_source.
          items:
            $ref: '#/components/schemas/FactorSensitivityV3'
        inference_warnings:
          type: array
          description: >
            Sentinel contract: ALWAYS present. [] = assessed, no warnings.
            Absence means "not assessed" (old builds only).
          items:
            $ref: '#/components/schemas/InferenceWarning'
        identifiability:
          type: object
          description: Graph identifiability assessment
        robustness:
          type: object
          description: >
            Robustness assessment (sensitivity to edge removal). ADDITIVE
            (lane PLoT-W5): display_verdict + display_verdict_reason — the
            display-safe verdict, derived by PLoT honestly and ONLY from the
            producer facts is_robust/level (confidence is never an input and
            can never upgrade a verdict). 'not_assessed' whenever robustness
            was not computed or the verdict-bearing facts are missing — never
            a determinate-looking verdict without computed robustness. The UI
            renders these verbatim and must not re-derive meaning from
            is_robust/level/confidence.
          properties:
            display_verdict:
              type: string
              enum: [robust, moderate, fragile, not_assessed]
              description: >
                Display-safe robustness verdict (mapping
                provisional_doctrine_v0): is_robust true AND level high →
                robust; level medium (wire vocabulary) or moderate →
                moderate; is_robust false OR level low/very_low → fragile
                (explicit is_robust false always wins, never softened);
                robustness absent/failed/facts-missing → not_assessed.
            display_verdict_reason:
              type: string
              description: >
                Producer-owned claim-safe phrase matching display_verdict
                (wording provisional_doctrine_v0, no numbers), e.g. fragile →
                'small changes could flip this result'.
        option_comparison_status:
          type: string
          enum: [computed, unavailable, skipped, error]
        robustness_status:
          type: string
          enum: [computed, unavailable, skipped, error]
        drivers_status:
          type: string
          enum: [computed, unavailable, skipped, error]
        response_hash:
          type: string
          description: Deterministic hash of semantic response fields
        processing_time_ms:
          type: number
        decision_brief:
          oneOf:
            - $ref: '#/components/schemas/DecisionBriefV1'
            - type: 'null'
          description: >
            Shareable decision brief assembled deterministically from the
            analysis results (no LLM call). null when analysis failed or
            required source data (option_comparison, robustness) is absent.
            Contains non-deterministic fields (brief_id, created_at);
            excluded from response_hash.
        _meta:
          type: object
          description: >
            Response-only diagnostic metadata (excluded from response_hash).
            Base fields are always present; extended debug payloads are gated
            behind the UI_CANONICAL_META flag. Additive lane PLoT-R3 field:
            `evidence` — diligence-grade capture of the ISL exchange
            (sha256/byte-length/key-manifest digests, never full bodies) plus
            plot_build and isl_build. See CanonicalMeta in
            src/types/engine-v3.ts.
          properties:
            source_path: { type: string, enum: [isl, graph_fallback] }
            request_id: { type: string }
            plot_build: { type: string }
            evidence:
              $ref: '#/components/schemas/EvidenceCaptureV1'
        meta:
          type: object
          description: Processing metadata
          properties:
            seed_used: { type: string }
            seed_source: { type: string, enum: [client_generated, server_generated] }
            n_samples: { type: integer }
            detail_level: { type: string }
            latency_ms: { type: number }
      required:
        - analysis_status
        - critiques
        - edge_sensitivity
        - inference_warnings
        - identifiability
        - meta
    V2RunError:
      type: object
      description: >
        422 response when preflight validation blocks analysis.
        Contains blocker critiques explaining why analysis cannot proceed.
      properties:
        analysis_status:
          type: string
          enum: [blocked, failed]
        status_reason:
          type: string
          description: Human-readable blocker summary
        critiques:
          type: array
          items:
            $ref: '#/components/schemas/CritiqueV3'
        robustness:
          type: object
          description: >
            Empty robustness object (CIL 0.2 contract). ADDITIVE (lane
            PLoT-W5): also carries display_verdict 'not_assessed' +
            display_verdict_reason — a blocked/failed run never computed
            robustness, so the display-safe verdict is always
            'not_assessed' here.
          properties:
            display_verdict:
              type: string
              enum: [not_assessed]
              description: Always 'not_assessed' on blocked/failed responses.
            display_verdict_reason:
              type: string
              description: >
                Producer-owned claim-safe phrase (wording
                provisional_doctrine_v0, no numbers).
      required: [analysis_status, status_reason, critiques]
    CritiqueV3:
      type: object
      properties:
        id: { type: string }
        code:
          type: string
          description: >
            Blocker codes include: MISSING_GOAL_NODE, GOAL_NODE_NOT_IN_GRAPH,
            NO_OPTIONS, TOO_MANY_OPTIONS, EMPTY_INTERVENTIONS,
            INVALID_INTERVENTION_TARGET, NO_PATH_TO_GOAL, IDENTICAL_OPTIONS,
            GRAPH_TOO_LARGE, GRAPH_CYCLE_DETECTED, ISL_CANNOT_IDENTIFY
        severity:
          type: string
          enum: [info, warning, error, blocker]
        message: { type: string, description: Internal/debug message }
        user_message: { type: string, description: UI-friendly message (no IDs) }
        source:
          type: string
          enum: [validation, engine, cee, isl]
        blocks_analysis: { type: boolean }
        suggestion: { type: string }
        affected_option_ids:
          type: array
          items: { type: string }
        affected_node_ids:
          type: array
          items: { type: string }
      required: [id, code, severity, message, source, blocks_analysis]
    OptionComparisonResultV3:
      type: object
      properties:
        option_id: { type: string }
        option_label: { type: string }
        outcome:
          type: object
          properties:
            mean: { type: number }
            std: { type: number }
            p10: { type: number, description: 10th percentile }
            p50: { type: number, description: Median }
            p90: { type: number, description: 90th percentile }
        probability_of_goal:
          type: number
          minimum: 0
          maximum: 1
          description: Present when goal_threshold is in request
        win_probability:
          type: number
          minimum: 0
          maximum: 1
        status:
          type: string
          enum: [computed, skipped, error]
      required: [option_id, option_label]
    EdgeSensitivityV3:
      type: object
      properties:
        edge_id: { type: string, description: 'Format: from::to' }
        from: { type: string }
        to: { type: string }
        from_label: { type: string, description: Human-readable source node label }
        to_label: { type: string, description: Human-readable target node label }
        sensitivity_type: { type: string, enum: [existence, magnitude] }
        elasticity: { type: number }
        importance_rank: { type: integer, minimum: 1 }
        interpretation: { type: string }
      required: [edge_id, from, to, from_label, to_label, sensitivity_type, elasticity, importance_rank]
    InferenceWarning:
      type: object
      properties:
        code: { type: string, description: PLoT or ISL warning code }
        message: { type: string }
        severity: { type: string, enum: [info, warning] }
      required: [code, message]
    EnrichedEdgeEValue:
      type: object
      description: Edge E-value with label enrichment
      properties:
        edge_id: { type: string, description: 'Format: from::to' }
        from_id: { type: string }
        to_id: { type: string }
        from_label: { type: string }
        to_label: { type: string }
        e_value: { type: number }
        flip_direction: { type: string, enum: [positive_to_negative, negative_to_positive, removal] }
        current_mean: { type: number }
        flip_mean: { type: number }
      required: [edge_id, from_id, to_id, from_label, to_label, e_value, flip_direction, current_mean, flip_mean]
    ConditionalWinner:
      type: object
      description: Conditional winner analysis per factor with label enrichment
      properties:
        factor_id: { type: string }
        factor_label: { type: string }
        split_value: { type: number }
        split_unit: { type: string }
        low_bucket:
          $ref: '#/components/schemas/ConditionalBucket'
        high_bucket:
          $ref: '#/components/schemas/ConditionalBucket'
        winner_flips: { type: boolean }
      required: [factor_id, factor_label, split_value, low_bucket, high_bucket, winner_flips]
    ConditionalBucket:
      type: object
      properties:
        winner_id: { type: string }
        winner_label: { type: string }
        runner_up_id: { type: string }
        runner_up_label: { type: string }
        win_probability: { type: number, minimum: 0, maximum: 1 }
        mean_outcome: { type: number }
      required: [winner_id, winner_label, win_probability]
    DenormalisedFlipThreshold:
      type: object
      description: >
        Flip threshold (tipping point) for a factor, in user units. Reports the
        intervention value at which the current recommendation would flip, plus
        which option would win post-flip.
      properties:
        factor_id: { type: string }
        factor_label: { type: string }
        current_value:
          type: number
          description: Current value in user units.
        flip_value:
          type: [number, 'null']
          description: Value at which the recommendation flips (user units). Null when no flip was found.
        direction: { type: string, enum: [increase, decrease] }
        unit:
          type: string
          description: Unit string from observed_state (e.g., "GBP", "%", "months").
        alternative_winner_id:
          type: [string, 'null']
          description: Option that would win after the flip. Null when no flip found.
        alternative_winner_label:
          type: [string, 'null']
        flip_reason:
          type: string
          description: Reason for the flip_value result (e.g., "flip_found", "no_flip_in_range").
        iterations_used:
          type: integer
          description: >
            Number of binary-search (bisection) iterations used to locate the
            threshold. Grid-fallback probes are counted in probes_used, not here.
        probes_used:
          type: integer
          description: >
            Total ISL probe evaluations COMPLETED for this entry (the 3 Step-0
            probes plus any bisection/grid midpoints; completions, not attempts).
            0 when no probes ran. Distinct from iterations_used: probes_used=3
            with iterations_used=0 means the three probes ran but bisection did not.
      required: [factor_id, factor_label, current_value, flip_value, direction, alternative_winner_id, alternative_winner_label, flip_reason]
    ConditionalProbability:
      type: object
      description: >
        Pairwise conditional probability between goal constraints:
        P(target_constraint | given_constraint is satisfied).
      properties:
        given_constraint_id: { type: string }
        target_constraint_id: { type: string }
        probability: { type: number, minimum: 0, maximum: 1 }
        effective_sample_size: { type: integer, minimum: 0 }
      required: [given_constraint_id, target_constraint_id, probability, effective_sample_size]
    FactorSensitivityV3:
      type: object
      description: Factor sensitivity result with optional range derivation source
      properties:
        factor_id: { type: string }
        factor_label: { type: string }
        influence_score: { type: number }
        influence_rank: { type: integer }
        sensitivity_score: { type: number }
        elasticity: { type: number }
        direction: { type: string, enum: [positive, negative, mixed, unknown] }
        confidence: { type: number, minimum: 0, maximum: 1 }
        confidence_source: { type: string, enum: [isl, graph, fallback_degenerate] }
        source: { type: string, enum: [graph, isl] }
        range_derivation_source:
          type: string
          description: >
            Range derivation tier for this factor's intervention range.
            Values: explicit_cap, explicit, extracted, inferred_spread, inferred_baseline, inferred_value, default.
        value_source:
          type: string
          description: >
            Track S: provenance of this factor's input value (additive passthrough
            from ISL FactorSensitivityV2). Distinct from `source`, which records the
            producing engine. Absent on older ISL responses.
        value_extraction_type:
          type: string
          description: 'Track S: how the factor value was extracted/derived (ISL passthrough). Absent on older ISL responses.'
        value_defaulted:
          type: boolean
          description: >
            Track S: true when ISL substituted a default for the factor value.
            Absent means "not reported / older ISL response" and is never coerced to false.
        evpi_percentage_points:
          type: number
          minimum: 0
          description: >
            Estimated EVPI in percentage points of win probability. Source disclosed
            by evpi_method ('counterfactual' = ISL per-factor counterfactual EVPI,
            sanitised — negatives never emitted; 'heuristic' = VOI × win-probability
            spread × 100 fallback). Always >= 0 when present.
        evpi_method:
          type: string
          enum: [heuristic, counterfactual]
          description: Method used to compute evpi_percentage_points.
        evpi_status:
          type: string
          enum: [below_resolution]
          description: >
            Present only when ISL's counterfactual EVPI estimate is too small to
            measure at the run's sampling depth (including Monte Carlo–noise
            negatives). evpi_percentage_points is deliberately absent in that case —
            labelled, never a clamped 0 and never a negative.
      required: [factor_id]
    # =========================================================================
    # Decision brief (lane PLoT-R3, roadmap 2.7 producer leg)
    # =========================================================================
    DecisionBriefV1:
      type: object
      description: >
        Deterministically assembled decision brief. Claim-safe surfaces
        (headline_banded, defaulted_assumptions, robustness_caveat,
        warning_codes) are ADDITIVE, provisional_doctrine_v0-worded, and
        gated behind the default-ON BRIEF_CLAIM_SAFE_SURFACES_ENABLE flag.
      properties:
        brief_id: { type: string, description: Deterministic SHA-256-derived UUID }
        version: { type: string, enum: ['1'] }
        graph_hash: { type: string }
        seed: { type: number }
        created_at: { type: string, format: date-time }
        headline:
          type: string
          description: Narrative summary (M2 review → M1 coaching → 'Analysis complete' fallback chain).
        options:
          type: array
          description: Options ranked by win_probability descending.
          items:
            type: object
            properties:
              option_id: { type: string }
              label: { type: string }
              win_probability: { type: number, minimum: 0, maximum: 1 }
              rank: { type: integer, minimum: 1 }
            required: [option_id, label, win_probability, rank]
        top_drivers:
          type: array
          description: >
            Top factors by absolute elasticity (influence-based, max 5).
            Intervention-pinned levers are excluded — a pinned lever is not an
            independently tunable driver and never appears in "check this"
            framing.
          items:
            type: object
            properties:
              factor_label: { type: string }
              sensitivity: { type: number }
              direction: { type: string, enum: [positive, negative] }
            required: [factor_label, sensitivity, direction]
        key_assumptions:
          type: array
          items: { type: string }
        what_would_change:
          type: array
          items: { type: string }
        robustness:
          type: string
          enum: [robust, moderate, fragile]
        warnings:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              message: { type: string }
              severity: { type: string, enum: [info, warning, error] }
            required: [code, message, severity]
        lineage:
          type: object
          properties:
            config_version: { type: string }
            response_hash: { type: string }
            n_samples: { type: integer }
          required: [config_version, response_hash]
        headline_banded:
          type: object
          description: >
            ADDITIVE (lane PLoT-R3, provisional_doctrine_v0): deterministic
            leader claim banded by win-probability gap — the producer leg of
            the UI's UI-SEM-060 leader-claim banding. Bands: gap < 0.10 →
            very_close; gap >= 0.25 AND robustness established →
            clearly_ahead; otherwise slightly_ahead. 'clearly ahead' wording
            is NEVER emitted without established robustness. Absent when
            fewer than two ranked options exist.
          properties:
            text: { type: string, description: provisional_doctrine_v0 wording }
            band: { type: string, enum: [very_close, slightly_ahead, clearly_ahead] }
            leader_option_id: { type: string }
            leader_label: { type: string }
            runner_up_option_id: { type: [string, 'null'] }
            runner_up_label: { type: [string, 'null'] }
            win_probability_gap: { type: number, minimum: 0, maximum: 1 }
            robustness_gated:
              type: boolean
              description: True when a clearly_ahead-sized gap was downgraded because robustness was not established.
            doctrine: { type: string, enum: [provisional_doctrine_v0] }
          required: [text, band, leader_option_id, leader_label, win_probability_gap, robustness_gated, doctrine]
        defaulted_assumptions:
          type: array
          description: >
            ADDITIVE (lane PLoT-R3): defaulted-input disclosures —
            value_defaulted factors (pinned levers excluded) plus
            DEFAULT-coded inference-warning echoes. Max 10.
          items:
            type: object
            properties:
              factor_label: { type: [string, 'null'] }
              note: { type: string }
              source: { type: string, enum: [value_defaulted, default_disclosure] }
              code: { type: string }
              doctrine: { type: string, enum: [provisional_doctrine_v0] }
            required: [factor_label, note, source, doctrine]
        robustness_caveat:
          type: object
          description: >
            ADDITIVE (lane PLoT-R3): honest robustness wording derived
            strictly from is_robust / level; when neither is present the text
            states robustness was not assessed.
          properties:
            text: { type: string }
            basis: { type: string, enum: [is_robust, level, absent] }
            doctrine: { type: string, enum: [provisional_doctrine_v0] }
          required: [text, basis, doctrine]
        warning_codes:
          type: array
          description: >
            ADDITIVE (lane PLoT-R3): echo of warning-severity
            inference-warning codes (codes only). Sorted, deduplicated.
          items: { type: string }
      required: [brief_id, version, graph_hash, seed, created_at, headline, options, top_drivers, key_assumptions, what_would_change, robustness, warnings, lineage]
    # =========================================================================
    # Diligence-grade evidence capture (lane PLoT-R3, roadmap 2.13)
    # =========================================================================
    PayloadDigestV1:
      type: object
      description: >
        Content digest of an exact wire payload: sha256 over the exact bytes
        sent/received, byte length, and the sorted top-level key manifest.
        Full bodies are NOT carried on the wire — the digest lets an auditor
        verify a separately captured payload matches what PLoT exchanged.
      properties:
        sha256: { type: string, description: Hex SHA-256 of the exact payload bytes }
        bytes: { type: integer, minimum: 0, description: Payload length in bytes (UTF-8) }
        key_manifest:
          type: array
          description: Sorted top-level JSON keys of the payload ([] for non-object payloads).
          items: { type: string }
      required: [sha256, bytes, key_manifest]
    EvidenceCaptureV1:
      type: object
      description: >
        ADDITIVE (lane PLoT-R3, roadmap 2.13): always-present diligence
        evidence for the primary ISL exchange. Closes the debug-bundle
        "plot: null / isl: null" gap without shipping full payloads.
      properties:
        plot_build: { type: string, description: Deployed PLoT build SHA (BUILD_ID / GITHUB_SHA / git fallback) }
        isl_build:
          type: [string, 'null']
          description: ISL build identifier from the ISL response 'build' field; null when ISL was not called or did not report one.
        isl_request_digest:
          oneOf:
            - $ref: '#/components/schemas/PayloadDigestV1'
            - type: 'null'
        isl_response_digest:
          oneOf:
            - $ref: '#/components/schemas/PayloadDigestV1'
            - type: 'null'
        isl_wire_generation_ok:
          type: boolean
          description: >
            ADDITIVE (lane 29, ROADMAP 1.24): result of the ISL
            wire-generation assertion. True when the primary ISL response
            declared its version markers (build, engine_version, version=2.x,
            timestamp) AND the nested wire locations PLoT's readers assume
            (robustness.edge_e_values, robustness.edge_sensitivity) resolved.
            False = generation unverified (mis-deploy/rollback, or no
            successful ISL exchange) — enrichment may be honestly degraded
            (see EDGE_E_VALUES_UNAVAILABLE_V2_WIRE /
            EDGE_SENSITIVITY_UNAVAILABLE_V2_WIRE inference warnings); the run
            itself never hard-fails on this.
      required: [plot_build, isl_build, isl_request_digest, isl_response_digest]